python-telegram-bot[job-queue]==20.3
python-telegram-bot[webhooks]==20.5
requests==2.31.0


# For the Flask API Server and running it
Flask
Flask-Cors
gunicorn
werkzeug

# For Google Calendar API Integration
google-api-python-client
google-auth-httplib2
google-auth-oauthlib

# For PDF parsing
pdfplumber

# For iCalendar (.ics) file export
ics
pytz

# For Jupyter/IPython notebook compatibility (optional)
nest_asyncio