python-telegram-bot[job-queue,webhooks]==20.5

requests==2.31.0
beautifulsoup4


# For the Flask API Server and running it
Flask
Flask-Cors
uvicorn

gunicorn
werkzeug
selenium==4.12.0
webdriver-manager==4.0.1
python-dotenv==1.0.0
cryptography==41.0.3

# For Google Calendar API Integration
google-api-python-client
google-auth-httplib2
google-auth-oauthlib

# For PDF parsing
pdfplumber

# For iCalendar (.ics) file export
ics
pytz
pymongo

# For Jupyter/IPython notebook compatibility (optional)
nest_asyncio
python-multipart
fastapi
playwright
motor
aiohttp